@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500");

* {
  padding: 0;

  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(102, 103, 118);
  overflow-x: hidden;
}

.image{
    position: relative;
    left: 15%;
    margin-bottom: 50px;
}

/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */

footer {
    padding: 205px;
    background-color: rgb(30, 29, 29);
  }
  
  .footer-name {
    position: absolute;
    right: 70%;
    margin-top: -150px;
  }
  
  .footer-name h1 {
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(169, 166, 166);
    font-size: 150%;
    letter-spacing: 4px;
  }
  
  .footer-name ul {
    padding: 5px 10px 0px 10px;
  }
  
  .footer-name ul li {
    color: rgb(169, 166, 166);
    list-style-type: disc;
    padding: 8px;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
  }
  
  .footer-features {
    position: absolute;
    right: 45%;
    margin-top: -150px;
  }
  
  .footer-features h1 {
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(169, 166, 166);
    font-size: 150%;
    letter-spacing: 4px;
  }
  
  .footer-features ul {
    padding: 5px 10px 0px 10px;
  }
  
  .footer-features ul li a {
    color: rgb(169, 166, 166);
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
  }
  
  .footer-features ul li a:hover {
    color: rgb(255, 255, 255);
  }
  
  .footer-features ul li {
    list-style-type: disc;
    color: rgb(169, 166, 166);
    padding: 8px;
  }
  
  .social {
    position: absolute;
    right: 10%;
  }
  
  .social h1 {
    position: absolute;
    right: 10%;
    margin-top: -150px;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(169, 166, 166);
    font-size: 150%;
    letter-spacing: 4px;
  }
  
  .social-links-2 {
    margin-right: 40px;
    margin-top: -110px;
  }
  
  .social-links-2 li {
    line-height: 30px;
  }
  
  .social-links-2 li a {
    color: rgb(169, 166, 166);
    font-size: 130%;
  }
  
  .social-links-2 li a:hover {
    color: #ffffff;
  }
  
  .social-links-3 {
    position: absolute;
    right: 50%;
    margin-right: 50px;
    margin-top: -95px;
  }
  
  .social-links-3 li {
    line-height: 30px;
  }
  
  .social-links-3 li a {
    color: rgb(169, 166, 166);
    font-size: 130%;
  }
  
  .social-links-3 li a:hover {
    color: #ffffff;
  }
  
  .footer-end {
    position: absolute;
    margin-top: 125px;
    right: 42%;
  }
  
  .footer-end p {
    font-size: 90%;
    color: rgb(169, 166, 166);
    letter-spacing: 1px;
  }
  